/*  your css code here. If applicable */

body{
	background-color:#f5f5f5;
}

nav{
	background-color: #011e29;
	color:white;
	height:80px;
	text-align:center;
	font-size:20px;
    margin:0px;
	padding: 1px;
}

.div1,.div2,.div3{
	background-color:white;
}

.div{
	display:flex;
}
